{% layout "layout.liquid" %}
{% block head %}
  <link rel="stylesheet" href="/css/app.css">
  <script
    type="module"
    src="/js/app.js"
    defer></script>
{% endblock %}
{% block body %}
  <div id="root"></div>
{% endblock %}