[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt             = no

[ req_distinguished_name ]
C  = MX
ST = Puebla
L  = Chapulco
O  = Local Cloud
OU = Software development
CN = Local Cloud
emailAddress = rodrigocid95@gmail.com
