{% layout "layout.liquid" %}
{% block content %}
  <ion-app>
    <ion-content class="ion-padding">
      <ion-text color="dark">
        <h1 class="ion-text-center">El servidor está en modo de desarrollo.</h1>
      </ion-text>
    </ion-content>
  </ion-app>
{% endblock %}